@{
    var disabledPrev = Model.PageInfo.HasPreviousPage ? "" : "disabled";
    var disabledNext = Model.PageInfo.HasNextPage ? "" : "disabled";
}
<a asp-action="Index"
   asp-route-page="@(Model.PageInfo.PageNumber - 1)"
   asp-route-category="@(Model.CategoryInfo.SelectedCategory)"
   class="btn btn-outline-dark @disabledPrev">
    &lArr;
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageInfo.PageNumber + 1)"
   asp-route-category="@(Model.CategoryInfo.SelectedCategory)"
   class="btn btn-outline-dark @disabledNext">
    &rArr;
</a>